<main>
    <div class="title-container">
      <h1>Hi, im a <span>Back-end</span> developer <span>:)</span></h1>
      <div class="icons-container">
        <a href="https://github.com/NotHiaki" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github fa-xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/hiaki/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin fa-xl"></i>
        </a>
        <a href="../../../assets/archives/curriculum.pdf" download="currriculum.pdf">
          <i class="fa-solid fa-file fa-xl"></i>
        </a>
      </div>
    </div>
    <div class="about-container">
      <p>My name is <span>Celso Henrique</span>, 
        and I am in the third year of high school, 
        where I study informatics and back-end development.</p>
      <p>I have experience with <span>Node.js</span>, 
        <span>Express</span>, <span>PostgreSQL</span>, 
        <span>TypeScript</span>, <span>Angular</span>, 
        <span>Sass</span>, and <span>Git</span>. 
        I am dedicated to refining my <span>skills</span> 
        in web development, focusing on creating applications with good 
        <span>performance</span> and <span>scalability</span>.</p>
    </div>
</main>