<main>
    <div class="title-container">
      <h1>Hi, im a <span>Back-end</span> developer <span>:)</span></h1>
    </div>
    <div class="about-container">
      <p>My name is <span>Celso Henrique</span>, 
        and I am in the third year of high school, 
        where I study informatics and back-end development.</p>
      <p>I have experience with <span>Node.js</span>, 
        <span>Express</span>, <span>PostgreSQL</span>, 
        <span>TypeScript</span>, <span>Angular</span>, 
        <span>Sass</span>, and <span>Git</span>. 
        I am dedicated to refining my <span>skills</span> 
        in web development, focusing on creating applications with good 
        <span>performance</span> and <span>scalability</span>.</p>
    </div>
</main>