<div class="home-container">
    <div class="title-container">
      <h1>Hi, im Celso Henrique <span>{{ face }}</span></h1>
      <div class="icons-container">
        <a href="https://github.com/NotHiaki" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github fa-xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/hiaki/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin fa-xl"></i>
        </a>
      </div>
    </div>
    <div class="about-container">
      <p>I'm a fullstack developer from Brasil, and I'm in the third year of high school,
        where I study <span>development</span> and other <span>technologies</span>.</p>
      <p>My main stacks are <span>Node.js</span>,
        <span>TypeScript</span>, <span>Express</span>,
        <span>PostgreSQL</span>, <span>Prisma</span>, <span>Angular</span>,
        <span>Sass</span>, and <span>Git</span>.
        I am dedicated to refining my <span>skills</span>
        in web development, focusing on creating applications with good
        <span>performance</span> and <span>scalability</span>.</p>
    </div>
</div>
