<div class="projects-container">
    <div class="title-container">
        <h1>Projects</h1>
    </div>
    <div class="repository-container">
        <p>My github repositories below</p>
        @for(i of repositories$ | async; track $index) {
            <p>{{ i.name }} - 
                <a href="{{ i.html_url }}" target="_blank" rel="noopener noreferrer">source</a>
                 
                @if(i.homepage) {
                    / <a href="{{ i.homepage }}" target="_blank" rel="noopener noreferrer">site</a>
                }
            </p>
        }
    </div>
</div>