@use 'colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

::-webkit-scrollbar {
    width: 6px;
    background-color: $background
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
    border-radius: 10px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: $scrollbar $background;
}

::-moz-selection {
    color: $font;
    background: $primary;
  }
  
::selection {
    color: $font;
    background: $primary;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'sans-serif';
    color: $font;
    line-height: 1.8rem;
}

a {
    color: $primary;
}
